<form action="/recipes/<%=@recipe.id%>" method="post" enctype="multipart/form-data">
	<p>Give your new recipe a <b>name</b>:</p>
	<p><input type="text" name="recipe_name" size=52 value="<%=@recipe.name%>"></p>
	<p>List the <b>ingredients</b> needed:</p>
	<p><textarea name="ingredients" cols=50 rows=5><%=@recipe.ingredients%></textarea></p>
	<p>Provide cooking <b>instructions</b>:</p>
	<p><textarea name="instructions" cols=50 rows=10><%=@recipe.instructions%></textarea></p>
	<p>Current image: <%=@recipe.picture%></p>
	<p><img src="/images/<%=@recipe.picture%>" width=100></p>
	<input type="file" name="file"> 
	<button value="submit">Save</button>
</form>

