<h1>Cook Book Nook recipes</h1>
<h3>Hi, <%=@user.username%>! <a href="/logout"><button class="logout">Log Out</button></a> </h3>
<h3>Would you like to share a new recipe today?</h3> 
<a href="/recipes/new"><button>Yes, please!</button></a>
<br>
<%Recipe.all.each do |recipe|%>
<div class="wrapper">
<div class="item">
<img src="/images/<%=recipe.picture%>" alt="<%=recipe.name%>" width=100>
</div>
<div class="item2">
<a href="/recipes/<%=recipe.id%>"><%=recipe.name%></a>
<br>
added by <a href="/users/<%=recipe.user.slug%>"><%=recipe.user.username%></a>
</div>
</div>
<br>
<%end%>







